         /* Custom CSS for bed display */
         .bed {
            width: 50px;
            height: 50px;
            border: 1px solid #ccc;
            display: inline-block;
            margin: 5px;
            box-shadow: 5px 5px 5px grey;
            
            }
            .shared-bed {
            width: 50px;
            height: 50px;
            border: 1px solid #ccc;
            display: inline-block;
            margin: 5px;
            box-shadow: 5px 5px 5px grey;
            }
            .available {

                background-color: green;
           /* background: rgba(32, 219, 130, 1.0);
            background: linear-gradient(135deg, rgba(32, 219, 130, 1.0), rgba(6, 6, 6, 1.0));*/
            }
            .booked {

             background-color: #07aec0;
            /*background: rgba(1, 249, 255, 1.0);
            background: linear-gradient(135deg, rgba(1, 249, 255, 1.0), rgba(6, 6, 6, 1.0));*/
            }
            .occupied{
                background-color: red;

           /* background: rgba(255, 1, 1, 1.0);
           background: linear-gradient(135deg, rgba(255, 1, 1, 1.0), rgba(6, 6, 6, 1.0));*/
            }
   
            .will_be_release{

                background-color: darkgoldenrod;
            /*background: rgba(252, 255, 1, 1.0);
            background: linear-gradient(135deg, rgba(252, 255, 1, 1.0), rgba(6, 6, 6, 1.0));*/
            }
   
   
            /* Custom styles for different bed types */
            .cabin {
            width: 50px;
            height: 50px;
            }
            .shared-cabin {
            width: 120px;
            height: 100px;
            }
            .ward {
            width: 100px;
            height: 100px;
            margin: 5px;
            box-shadow: 5px 5px 5px grey;
            }
            .shared{
            margin: 0 auto;
            }
           span{
               font-family: sans-serif;
               font-weight: bolder;
               color: white;
               text-align: center;
            }
   
            p {
               font-family: sans-serif;
               font-size: 10px;
               font-weight: bolder;
               color: white;
               text-align: center;
               display: flex;
               align-items: center; /* Center vertically */
               justify-content: center; /* Center horizontally */
               height: 100%; /* Ensure the <p> element takes up the full height of its container */
            }
            
            .bed:hover{
               background: blue;
            }
            .ward:hover{
                background: blue;
            }
            .shared-bed:hover{
                background: blue;
            }
   
            .seat-type{
               text-align:center;
               font-family: Roboto;
               
               font-size: 20px;

                background: rgba(129, 125, 133, 1.0);
                background: linear-gradient(135deg, rgba(129, 125, 133, 1.0), rgba(158, 158, 158, 1.0));
               margin-top:20px;
               margin-bottom: 20px;
               color: white;
               padding: 10px;
   
            }
   
            .seat-type:last-of-type{
               margin-top: -20px;
            }

            .floor h5{
                margin-top: -5px;
            }


            .seat-count-booked {
                background-color: #07aec0;
                padding: 10px;
                color: white; /* White text color for contrast */
                font-family: Roboto, sans-serif;
                align-content:right;
            }
            

            .seat-count-occupied {
                background-color: red;
                padding: 10px;
                color: white; /* White text color for contrast */
                font-family: Roboto, sans-serif;
            }
            

            .seat-count-willberelease {
                background-color: rgb(236, 164, 7);
                padding: 10px;
                color: #333; /* Dark gray or black text for contrast */
                font-family: Roboto, sans-serif;
            }
            

            .seat-count-Available {
                background-color: green;
                padding: 10px;
                color: white; /* White text color for contrast */
                font-family: Roboto, sans-serif;
            }
            
/* Custom CSS for mobile */
@media (max-width: 767px) {
    .floor.mobile-fixed {
        position: fixed;
        width: 100%;
        max-height: 100%;
        background-color: white;
        z-index: 9999; /* Adjust the z-index as needed */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
    .floor.mobile-fixed .row {
        padding: 10px;
    }
    .floor.mobile-fixed .col-12 {
        padding: 0;
    }
    .floor.mobile-fixed h5 {
        margin: 0;
    }
    .floor.mobile-fixed .btn-link {
        font-size: 16px; /* Adjust the font size as needed */
    }
}


img{
    margin: 0 auto;
}


button{
    color: white;
}

.glow-on-hover {
    max-width: 108.2%;
    min-width: 108.2%;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-top:2px;
    
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
   
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
  
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/* NAV BAR */

/* Add this CSS for navbar animation and color change */
.navbar {
    transition: background-color 0.3s ease;
 }
 
 .navbar.navbar-scrolled {
    background-color: #007bff; /* Change this color to your desired navbar color on scroll */
 }
 